<ul class="cart">
   <li>
       <a aria-expanded="true" aria-haspopup="true" id="cart" class="btn dropdown-toggle" href="@Url.Action("Cart","Cart")">
           <i class="fa fa-shopping-cart"></i>
           <h5>(@ViewBag.TongSoLuong) Sản phẩm - <span>@ViewBag.TongTien</span></h5>
       </a>
   </li>
</ul>

