@{
    ViewBag.Title = "Trang chủ";
}

<main class="site-main page-spacing">
    @{ Html.RenderAction("_Slider", "Home");}
    <div class="section-padding"></div>
    @{ Html.RenderAction("_LatestProduct", "Product");}
</main>