 <!-- Footer Main -->
<footer class="footer-main container-fluid no-padding">
    <div class="container">
        <div class="row">
            <div class="footer-header">
                <a href="index-2.html" title="Furn Home">Xuân <span>Phát</span></a>
            </div>
            <div class="footer-social">
                <ul>
                    <li><a href="#" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" title="Google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <!-- Widget About -->
            <aside class="col-md-4 col-sm-6 col-xs-6 ftr-widget about-widget">
                <h3>Giới thiệu</h3>
                <p>Chuyên cung cấp giày cao cấp</p>
                <p><i aria-hidden="true" class="fa fa-phone"></i>Gọi cho chúng tôi 08 523 456 78</p>
                <p><i aria-hidden="true" class="fa fa-envelope-o"></i><a title="Info@ourdomain.Com" href="mailto:Info@ourdomain.Com">Info@ourdomain.Com</a></p>
                <p><i aria-hidden="true" class="fa fa-map-marker"></i>Bình Thạnh, TP. Hồ Chí Minh</p>
            </aside><!-- Widget About /- -->
            <!-- Widget Links -->
            <aside class="col-md-2 col-sm-6 col-xs-6 ftr-widget link-widget">
                <h3>Links</h3>
                <ul>
                    <li><a href="@Url.Content("~/Gioi-Thieu")">Giới thiệu</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="@Url.Content("~/Lien-he")">Liên hệ</a></li>
                </ul>
            </aside><!-- Widget Links /- -->
            <!-- Widget Contact -->
            <aside class="col-md-3 col-sm-6 col-xs-6 ftr-widget contact-widget">
                <h3>Liên hệ</h3>
                <ul>
                    <li><a href="#" title="Product Recall">Đặt hàng</a></li>
                    <li><a href="#" title="Gift Vouchers">Mã giảm giá</a></li>
                    <li><a href="#" title="Returns & Exchange">Đổi trả</a></li>
                    <li><a href="#" title="Shipping Options">Hình thức ship</a></li>
                    <li><a href="#" title="Help & FAQs">Hỗ trợ</a></li>
                </ul>
            </aside><!-- Widget Contact /- -->
            <!-- Widget Isnstagram -->
            <aside class="col-md-3 col-sm-6 col-xs-6 ftr-widget instagram-widget">
                <h3>Bài viết</h3>
                <ul>
                    <li><a href="#" title=""><img src="~/Content/Shopping/images/insta-1.jpg" alt="Insta1" width="83" height="83" /></a></li>
                    <li><a href="#" title=""><img src="~/Content/Shopping/images/insta-2.jpg" alt="Insta1" width="83" height="83" /></a></li>
                    <li><a href="#" title=""><img src="~/Content/Shopping/images/insta-3.jpg" alt="Insta1" width="83" height="83" /></a></li>
                    <li><a href="#" title=""><img src="~/Content/Shopping/images/insta-4.jpg" alt="Insta1" width="83" height="83" /></a></li>
                    <li><a href="#" title=""><img src="~/Content/Shopping/images/insta-5.jpg" alt="Insta1" width="83" height="83" /></a></li>
                    <li><a href="#" title=""><img src="~/Content/Shopping/images/insta-6.jpg" alt="Insta1" width="83" height="83" /></a></li>
                </ul>
            </aside><!-- Widget Newsletter /- -->
        </div>
    </div>
</footer><!-- Footer Main /- -->
<!-- Bottom Footer -->
<div class="bottom-footer container-fluid no-padding">
    <div class="container">
        <div class="footer-content">
            <div class="footer-copyright">
                <p>&copy; 2017 ltweb2017@gmail.com</p>
            </div>
            <div class="footer-breadcrumb pull-right">
                <ol class="breadcrumb">
                    <li title="Home" class="active">Trang chủ</li>
                    <li><a title="Services" href="#ad-banner-1">Dịch vụ</a></li>
                    <li><a title="terms & condition" href="#">Điều khoản à điều kiện</a></li>
                    <li><a title="privacy policy" href="#">Chính sách</a></li>
                    <li><a title="Contact Us" href="#">Liên hệ</a></li>
                </ol>
            </div>
        </div>
    </div>
</div><!-- Bottom Footer /- -->

