@using ShoeStoreTeam.Models
@model List<Product>
<div id="latest-product" class="latest-product latest-product-1 container-fluid no-padding woocommerce">
    <!-- Container -->
    <div class="container">
        <!-- Section Header -->
        <div class="section-header">
            <h3>Sản phẩm mới</h3>
        </div><!-- Section Header /- -->
        <ul class="products">
            <li class="product">
                @foreach (var item in Model)
                {
                    <a href="product-detail.html" title="Prouct">
                        <span class="new-product">New</span>
                        <span class="onsale">15%</span>
                        <span class="product-img">
                            <img src="@Url.Content("~/Content/Shopping/images/"+@item.Image)" width="270" height="360" alt="product" />
                        </span>
                        <h3>@item.Name</h3>
                        <span class="price"><span class="amount">$@item.Price</span></span>
                    </a>
                    <p class="hover-content">
                        <a title="Add To Cart" href="#" class="button product_type_simple add_to_cart_button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Thêm vào giỏ hàng</a>

                    </p>
                }
             
            </li>

        </ul>
    </div><!-- Container /- -->
</div><!-- Latest Product 1 /- -->
