@using ShoeStoreTeam.Models
@model List<Category>
@{
    List<Category> primaryCategory = new List<Category>();
    primaryCategory = Model.Where(n => n.ParentId == 0).ToList();
}
<div class="menu-block menu-block-section container-fluid no-padding">
    <div class="container">
        <nav class="navbar ow-navigation">
            <div id="loginpanel" class="desktop-hide">
                <div class="right" id="toggle">
                    <a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
                    <a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
                </div>
            </div>
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="text-logo desktop-hide" href="@Url.Action("Index","Home")"><span>Xuân</span> Phát</a>
            </div>
            <div class="navbar-collapse collapse navbar-right" id="navbar">
               
                <ul class="nav navbar-nav menubar">
                    @if (primaryCategory != null && primaryCategory.Count > 0)
                    {
                        foreach (var item in primaryCategory)
                        {
                            List<Category> subCategory = new List<Category>();
                            subCategory = Model.Where(n => n.ParentId == item.Id).ToList();

                            <li class="dropdown">

                                @if (subCategory != null && subCategory.Count > 0)
                                {
                                    <a aria-expanded="false" aria-haspopup="true" role="button" class="dropdown-toggle" href="#">@item.Name</a>
                                    <i class="ddl-switch fa fa-angle-down"></i>
                                    <ul class="dropdown-menu">
                                        @foreach (var item2 in subCategory)
                                        {
                                            <li>
                                                <a href="#">@item2.Name</a>
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <a href="#">@item.Name</a>
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>
