 <!-- Middel Header -->
<div class="middle-header container-fluid no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-4 col-xs-4">
                <div class="logo-block">
                    <a href="/"><img src="~/Content/Shopping/images/logo-1.png" alt="logo" height="38" width="56" />Xuân <span>Phát</span></a>
                </div>
            </div>
            <div class="header-info">
                @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                {
                    <div class="col-md-5 col-sm-6 col-xs-6">
                        <div class="input-group">
                            <!-- /btn-group -->
                            <input type="text" placeholder="Tìm kiếm..." class="form-control" name="searchString">
                            <span class="input-group-btn">
                                <button type="submit" title="Search" class="btn btn-search"><i class="fa fa-search"></i></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                }
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 add-to-cart">
                <ul class="cart">
                       @{Html.RenderAction("CartPartial", "Cart");}      
                </ul>
            </div>
        </div><!-- Row /- -->
    </div><!-- Container /- -->
</div><!-- Middel Header /- -->
