@{
    ViewBag.Title = "Lấy lại mật khẩu thành công";
}
<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Vùi lòng kiểm tra email để lấy lại mật khẩu.
        </p>
    </div>
</div>
	
