@{
    ViewBag.Title = "Đổi mật khẩu thành công";
}
<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Mật khẩu của bạn đã được đổi thành công. Vui lòng @Html.ActionLink("click vào đây đê đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>